body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #451952;
}
header {
    background-color: #f39f5a; /*Change to your desired color code */
    color: #fff; /* Change text color to contrast with the background */
    padding: 10px 0;
    height: 100px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin-top: 0;
    margin-right: 0;
    padding: 10px;
}

.logo {
    margin-top: auto;
}

.logo-image{
    height: 80px;
    width: 80px;
    padding: 0;
}

.nav-links ul {
    list-style-type: none;
    margin-left: 20px;
    padding: 0;
    display: flex;
    color: black;
}

.nav-links li {
    margin-right: 25px;
    font-size: 16px;
}

.nav-links a {
    color: black; /* Change link color */
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s; /* Add a smooth color transition on hover */
}

.nav-links a:hover {
    color: rgb(239, 8, 69); /* Change the color on hover to a different color */
}

.nav-links .dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f39f5a;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    padding: 16px 16px;
    text-decoration: none;
    display: block;
    color: black;
}

.user-options a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: 16px;
    /* margin-left: 5px; Adjust the margin as needed */
    display: block;
}
.user-options p{
    position: absolute;
    right: 10px;
    font-size: 20px;
}

.user-options a:hover{
    color: rgb(239, 8, 69);
}
.logoutdelete{
    display: flex;
    justify-content: space-between;
}

.divider {
    color: black;
    font-weight: bold;
}

.hellouser p{
    color: black;
    font-size: 18px;
    margin-top: -35px;
    font-weight: bold;
}
.loginsignup{
    display: flex;
    justify-content: space-between;
}
.hero {
    background-image: url('/static/images/hero.jpg'); /* Replace with your image path */
    background-size: contain;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

.hero-content {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
    padding: 20px;
    border-radius: 10px;
}

.hero h1 {
    font-size: 32px;
    margin-bottom: 0;
    color: white;
}

.hero p {
    font-size: 24px;
    margin-bottom: 0;
    color: white;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #AE445A; /* Button background color */
    color: #f4dbbc;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.cta-button:hover {
    background-color: #e94e2f; /* Button background color on hover */
}

/* Featured Content Styles */
.featured-content {
    max-width: 100%;
    margin: 40px auto;
    display: flex;
    flex-wrap: wrap;
}

.feature-tile {
    width: 100%;
    height: 350px; /* Remove the min-height to let the content dictate the tile height */
    padding: 10px; /* Adjust padding as needed */
    border-radius: 10px;
    margin: 0 0 20px;
    display: flex;
    align-items: center;
    flex-direction: row;
    text-align: left; /* Left-align text */
}

.feature-icon {
    width: 150px; /* Reduce the width to make the image narrower */
    height: auto; /* Allow the image to adjust its height automatically */
    margin-right: 40px;
    object-fit: cover;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.feature-description {
    flex: 1;
    display: flex; /* Add this to make the content a flex container */
    flex-direction: column;
    align-items: flex-start; /* Vertically align content at the top */
    margin-left: 350px; /* Adjust the margin for spacing between image and content */
    margin-right: 20px;
}

.feature-description h2 {
    font-size: 20px;
    font-family: Arial, sans-serif;
    margin-bottom: 10px;
    margin-top: 20px; /* Add margin to the top of the content */
    color: white;
}

.feature-description p {
    text-align: justify; /* Justify-align content */
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: white;
}

/* Define colors for each feature */
.macronutrients {
    background-color: #F39F5A; /* Yellow */
    margin-right: 20px;
    margin-left: 20px;
}

.recipes {
    background-color: #662549; /* Orange */
    margin-right: 20px;
    margin-left: 20px;
}

.blog {
    background-color: #845ec2; /* Purple */
    margin-right: 20px;
    margin-left: 20px;
}

.disorders {
    background-color: #AE445A; /* Pink */
    margin-right: 20px;
    margin-left: 20px;
}

.calorie{
    height: 338px;
    width: 507px;
}

.footer {
    background-color: #000;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: row;
    position: relative;
}
.contact-info {
    width: 50%;
    margin-right: auto;
}
.contact-info p {
    margin: 0;
    padding: 5px;
    margin-bottom: 10px;
}
.message{
    margin-right: auto;
    padding: 10px;
    width: 100%;
}
.message form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
}
.message form input{
    width: 40%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc; /* Light gray border */
    border-radius: 4px; /* Rounded corners for the inputs */
}
.message form textarea{
    height: 100px;
    width: 40%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc; /* Light gray border */
    border-radius: 4px; /* Rounded corners for the inputs */
}
.message-button {
    width: 80px;
    text-align: center;
    background-color: #662549;
    height: 30px;
    color: white;
    border-radius: 5px;
    border: 1px black solid;
}
.messge-button:hover{
    background-color: white;
    color: black;
    border-radius: 5px;
    height: 30px;
    border: 1px black solid;
}

.links {
    width: 50%;
    text-align: left;
    align-items: start;
    margin-right: 50px;
    margin-top: 20px; /* Adjust as needed */
}
.links a {
    color: #fff;
    text-decoration: none;
    display: block;
    margin-bottom: 10px; /* Adjust as needed */
}
.copyright {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    padding-top: 10px;
    margin-top: 20px;
}

@media screen and (max-width: 1100px) {
    .body{
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
        background-color: #451952;
    }
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 0;
        margin-right: 0;
        padding: 10px;
        max-width: 100%;
        height: 50px;
    }

    .logo{
        display: none;
    }

    .burger-icon {
        display: block;
        width: 30px;
        height: 20px;
        cursor: pointer;
        position: absolute;
        left: 15px;
    }
    .line {
        width: 100%;
        height: 5px;
        background-color: #000; /* Adjust the color as needed */
        margin: 4px 0;
        transition: 0.4s;
    }
    .nav-links{
        display: none;
        flex-direction: column;
        justify-content: space-between;
        background-color: #f39f5a; /* Adjust background color as needed */
        position: absolute;
        top: 50px; /* Adjust as needed */
        left: 0;
        width: 60vw;
        height: 100vh;
        margin-top: 60px;
    }
    .nav-links.show {
        display: flex;
    }
    .nav-links ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        margin-left: 10px;
    }
    .nav-links li {
        margin-bottom: 6vh; 
    }

    .nav-links a {
        color: black;
        font-weight: bold;
        font-size: 22px;
        text-decoration: none;
        transition: color 0.3s; 
    }

    .nav-links a:hover {
        color: rgb(239, 8, 69); 
    }
    .dropdown-arrow::after {
        content: '\25BE'; 
        display: inline-block;
        margin-left: 5px; 
        color: #000;
        font-size: 15px;
    }
    .dropdown:hover .dropdown-content {
        display: block;
    }
    .dropdown-content {
        display: none;
    }

    .user-options{
        position: absolute;
        right: 5px;
        margin-top: 20px;
        font-size: 20px;
    }

    .user-options p{
        position: absolute;
        right: 5px;
        margin-top: 35px;
        font-size: 20px;
    }
    
    .featured-content{
        padding: 10px;
        margin: 40px auto;
        display: flex;
        max-width: 100%;
    }

    .feature-tile {
        width: 100%;
        height: auto; 
        padding: 10px; 
        border-radius: 20px;
        margin-left: 1%;
        margin-right: 1%;
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: left; 
    }

    .feature-icon{
        max-width: 100%;
        height:auto;
        padding: 10px;
        margin: 0;
        margin-right: auto;
        display: none;
    }

    .feature-description{
        font-size: 2px;
        padding: 10px;
        margin: 0;
    }
    .footer{
        display: flex;
        padding: 10px;
        justify-content: space-between;
    }

    .message{
        margin-right: auto;
        width: 100%;
    }
    .contact-info{
        width: 40%;
        margin-left: 0;
    }
    .links{
        width: 40%;
        margin-right: 10px;
    }
    .message{
        width: 100%;
        margin-left: 0;
    }

    .message form{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0;
    }

    .message form input{
        width: 40%;
        padding: 0.5rem;
        margin-bottom: 1rem;
        border: 1px solid #ccc; /* Light gray border */
        border-radius: 4px; /* Rounded corners for the inputs */
    }
    .message form textarea{
        height: 100px;
        width: 40%;
        padding: 0.5rem;
        margin-bottom: 1rem;
        border: 1px solid #ccc; /* Light gray border */
        border-radius: 4px; /* Rounded corners for the inputs */
    }
    .copyright{
        position: aboslute;
        bottom: 0;
        margin-top: 100px;
    }
}
