<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nutrient and Calorie Tracking - RevitalizeMe</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/logstyle.css') }}">
<script>
    function addInput(mealType) {
        const inputId = `${mealType}-description`;
        const inputName = `${mealType}_description`;

        const container = document.getElementById(mealType);

        // Check if the last input is empty
        const lastInput = container.querySelector('.meal-description:last-child input');
        if (lastInput && lastInput.value.trim() === "") {
            alert("Please fill in the last input before adding a new one.");
            return;
        }
        const newRow = document.createElement('div');
        newRow.className = 'meal-description';

        const input = document.createElement('input');
        input.type = 'text';
        input.id = inputId;
        input.placeholder = "Enter food item";
        input.name = inputName;
        newRow.appendChild(input);
        container.appendChild(newRow);
    }
    function submitForm() {
        const form = document.getElementById("nutrition-form");
        form.submit();  // This will submit the form.
    }
</script>

</head>
<body>
    <!-- Navigation Bar -->
    <header>
        <div class="container">
            <div class="logo">
                <img src="{{ url_for('static', filename='images/your-logo.jpg') }}" alt="RevitalizeMe logo" class="logo-image">
            </div>
            <div class="nav-links">
                <ul>
                    <li><a href="{{ url_for('home') }}">Home </a></li>
                    <li><a href="{{ url_for('calculator') }}">BMR and Macronutrient Calculator</a></li>
                    <li><a href="{{ url_for('recipes') }}">Healthy Recipes</a></li>
                    <li><a href="{{ url_for('logs') }}">Food Logs</a></li>
                    <li class="dropdown">
                        <a href="{{ url_for('disorders') }}">Lifestyle Disorders</a>
                        <div class="dropdown-content">
                            <a href="{{ url_for('diabetes') }}">Diabetes</a>
                            <a href="{{ url_for('bp') }}">Hypertension</a>
                            <a href="{{ url_for('cancer') }}">Cancer</a>
                            <a href="{{ url_for('pcod') }}">PCOD</a>
                            <a href="{{ url_for('heart') }}">Heart Attack</a>
                            <a href="{{ url_for('thyroid') }}">Thyroid</a>
                            <a href="{{ url_for('liver') }}">Fatty Liver</a>
                        </div>
                    </li>
                    <!-- <li><a href="{{ url_for('blog') }}">Blog</a></li> -->
                    <li><a href="{{ url_for('about') }}">About Us</a></li>
                </ul>
            </div>
            <div class="user-options">
                {% if 'user_id' in session %}
                    <div class = "hellouser">
                        {% if 'user_id' in session %}
                        <p>Hi, {{ session['user_fname'] }}</p>
                        {% endif %}
                    </div>
                    <a href="{{ url_for('logout') }}">Log Out</a>
                {% else %}
                    <a href="{{ url_for('login') }}">Login</a>
                    <span class="divider">|</span>
                    <a href="{{ url_for('signup') }}">Signup</a>
                {% endif %}
            </div>
        </div>
    </header>
    <!--Navigation bar ends-->
    <div class="log-container">
        <h1>Check Calories, Macro and Micro-Nutrients</h1>
        <p>Just enter the weight in grams followed by the name of the food item in the space provided for Ex: 50g apple exactly in this format. If quantity is not specified, then contents would be displayed on per 100 gm basis. In case the results are not displayed for a certain food item check for any typos or it might be possible that the food item does not exist in the database currently. </p>
        <form id="nutrition-form" action="/process-meals" method="post">
            <div class="meal-container">
            <!-- Breakfast with one input by default -->
                <div id="breakfast">
                    <div class = "label-meal">
                        <h2>Breakfast:</h2>
                        <button type="button" onclick="addInput('breakfast')">+</button>
                    </div>
                    <div class="meal-description">
                        <input type="text"  placeholder ="Enter food item" id="breakfast-description" name="breakfast_description">
                    </div>
                </div>
            
                <!-- Morning Snack with one input by default -->
                <div id="morningSnack">
                    <div class = "label-meal">
                        <h2>Morning Snack:</h2>
                        <button type="button" onclick="addInput('morningSnack')">+</button>
                    </div>
                    <div class="meal-description">
                        <input type="text"  placeholder ="Enter food item" id="morningSnack-description" name="morningSnack_description">
                    </div>
                </div>
            
                <!-- Lunch with one input by default -->
                <div id="lunch">
                    <div class = "label-meal">
                        <h2>Lunch:</h2>
                        <button type="button" onclick="addInput('lunch')">+</button>
                    </div>
                    <div class="meal-description">
                        <input type="text"  placeholder ="Enter food item" id="lunch-description" name="lunch_description">
                    </div>
                </div>
            
                <!-- Evening Snack with one input by default -->
                <div id="eveningSnack">
                    <div class = "label-meal">
                        <h2>Evening Snack:</h2>
                        <button type="button" onclick="addInput('eveningSnack')">+</button>
                    </div>
                    
                    <div class="meal-description">
                        <input type="text"  placeholder ="Enter food item" id="eveningSnack-description" name="eveningSnack_description">
                    </div>
                </div>
            
                <!-- Dinner with one input by default -->
                <div id="dinner">
                    <div class = "label-meal">
                        <h2>Dinner:</h2>
                        <button type="button" onclick="addInput('dinner')">+</button>
                    </div>
                    <div class="meal-description">
                        <input type="text" placeholder ="Enter food item" id="dinner-description" name="dinner_description">
                    </div>
            </div>
            <button type="button" class="track" onclick="submitForm()">Track Calories</button>
            </div>
        </form>        

    </div>
    <h2 style="color: #F39F5A;" style="margin-left: 20px;">Nutritional Information:</h2>
    {% if 'user_id' in session %}
        <div id="nutrition-results" class = "table">
                {{ table_html | safe }}
        </div>
        <div class="total_nutrients">
            <p>Total Calories: {{ totals.calories }} kcal</p>
            <p>Total Carbohydrates: {{ totals.total_carbohydrates }} g</p>
            <p>Total Fats: {{ totals.total_fat }} g</p>
            <p>Total Proteins: {{ totals.protein }} g</p>
        </div>
    {% else %}
        <p  class = "loginfirst">Log in to get the results or sign up for a new account.</p>
    {% endif %}
<!-- Footer Section -->
<div class="footer">
    <div class="contact-info">
        <p>Contact Info:</p>
        <p>Anshuli Sarjekar</p>
        <p>Phone Number: 7240356222</p>
        <p>Email id: sarjekaranshuli@gmail.com</p>
        <div class="message">
            <form name = "submit-to-google-sheet">
                <input type="text" name="Name" placeholder="Your Name" required>
                <input type="email" name="Email" placeholder="Your Email" required>
                <textarea name="Message" rows = "5" placeholder="Your Message" required></textarea>
                <button type="submit" class = "message-button" name="submit">Send</button>
            </form>     
        </div>
    </div>
    <div class="links">
        <a href="{{ url_for('home') }}">Home </a>
        <a href="{{ url_for('calculator') }}">BMR and Macronutrient Calculator</a>
        <a href="{{ url_for('recipes') }}">Healthy Recipes</a>
        <a href="{{ url_for('logs') }}">Food Logs</a>
        <a href="{{ url_for('disorders') }}">Lifestyle Disorders</a>
        <a href="{{ url_for('about') }}">About Us</a>
        <a href="{{ url_for('privacy') }}">Privacy Policy & Terms of Service</a>
    </div>
    <div class="copyright">
        <p>&copy; 2023 Your Website Name. All Rights Reserved.</p>
    </div>
</div>
</body>
</html>
